/* Login.css */

/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
  
}

h2 {
  margin-bottom: 15px;
}

.form {
  margin: 20px 0;
  width: 100%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  
}

button {
  width: 100%;
  margin-top: 15px;
  font-size: 20px;
  background: linear-gradient(180deg, #625bf7 0%, #463eea 100%);
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  


  
}
.kam{
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
.text-center{
  font-weight: bold;
}